name: Build Mod

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: gradle build

      - uses: actions/upload-artifact@v4
        with:
          name: PvPUtils
          path: build/libs/*.jar
